body {
    background-color: #fff;
    margin-top: 250px;
    width: 100%;
    position: absolute;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
}

.jumbotron {
    color: #fff;
    background-color: rgb(39, 49, 110);
}

.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: 0.5px solid #999;
}

#footer-text {
    color: black;
    text-align: center;
    margin-top: 10px;
}